{%load static %}

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
              <div class="b-bg">
                    {% comment %} <a href={% url 'index_company' %}><img src="/static/images/KAON_iconn.ico" class="feather logo"></a> {% endcomment %}
                    <i class="feather icon-power"></i>
                </div> 
                <span class="b-title">Kaon Middle East</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>                
                <li class="nav-item pcoded-menu-caption">
                    <label>Company</label>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb PagginatiIn progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Management</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'index_company' %}" class=""> </span>Company
                            <span class="pcoded-badge label label-danger">NEW</span></a></li>
                        <li class=""><a href="" class="">Department
                            <span class="pcoded-badge label label-success">In progress</span></a></li>
                        <li class=""><a href="{% url 'index_employee' %}" class="">Employee 
                            <span class="pcoded-badge label label-danger">NEW</span></a></li>
                        <li class=""><a href="{% url 'index_role' %}" class="">Roles
                             <span class="pcoded-badge label label-danger">NEW</span></a></li>
                             <li class=""><a href="{% url 'index_designation' %}" class="">Designation
                                <span class="pcoded-badge label label-danger">NEW</span></a></li>
                        <li class=""><a href="" class="">Customers
                            <span class="pcoded-badge label label-success">In progress</span></a></li>
                        
                        <li class=""><a href={% url 'index_attendance' %} class="">Time Management
                            <span class="pcoded-badge label label-danger">NEW</span></a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Requests</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Service Requests</span><span class="pcoded-badge label label-success">In progress</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Projects</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Contracts</span><span class="pcoded-badge label label-success">In progress</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                <a href={% url 'index_invoice' %} class="nav-link "><span class="pcoded-micon"><i
                        class="feather icon-file-text"></i></span><span
                        class="pcoded-mtext">Invoice</span><span class="pcoded-badge label label-danger">NEW</span></a>
            </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-credit-card"></i></span><span class="pcoded-mtext">Payments</span><span class="pcoded-badge label label-success">In progress</span></a>
                </li>
                {% comment %} <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/chart-morris.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
                </li>
                <li data-username="Maps Google" 
                    class="nav-item {% if 'map-google' in segment %} active {% endif %}">
                    <a href="/map-google.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-map"></i></span><span
                        class="pcoded-mtext">Maps</span></a></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/register.html" class="" target="_blank">Sign UP</a></li>
                        <li class=""><a href="/login.html" class="" target="_blank">Sign IN</a></li>
                    </ul>
                </li> {% endcomment %}

                <li data-username="Sample Page" class="nav-item"><a href="" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Graphs</span></a>
                </li>

                
                <li class="nav-item pcoded-menu-caption">
                    <label>User function</label>
                </li>                    
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li>   
                {% if user.is_authenticated %}
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout_user' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            {% else %}
            <li data-username="Disabled Menu" class="nav-item">
                <a href="{% url 'login_user' %}" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Login</span>
                </a>
            </li>
            {% endif %}
                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
