{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
       Kaon Middle East
    </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


     <!-- Favicon icon -->
     <link rel="icon" href="{%static '/images/KAON_iconn.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{%static '/assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{%static '/assets/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{%static '/assets/css/style.css' %}">
    <!-- dark mode css -->
    <link rel="stylesheet" href="{% static '/assets/css/dark.css' %}">

    <link href="{%static 'css/custom.css' %}" rel="stylesheet">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
    
    {% comment %} 
        <!-- Enable the dark mode -->
        <label class="d-none">
            <i class="icon feather icon-sun" id="theme-indicator"></i>
            <input type="checkbox" id="theme-switch" class="d-none">
        </label> {% endcomment %}


    {% include 'includes/navigation_login.html' %}


    {% block content %} {% endblock content %}
    <footer>
        <div class="text-center">
            <span>Copyright &copy<script>document.write(new Date().getFullYear())</script> by Kaon Middle East FZE.</span>
      
        </div>
     </footer>
    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %} {% endblock javascripts %}
   
 
</body>

</html>
